*{
    font-family: arial;
}
body{
    background: #F9F9F9;
}
#container{
    color: #FF8000;
    text-align: center;
}
a{
    color: #FF8000;
}
a:hover{
    text-decoration: none;
    font-weight: bold;

    color: #FF8000;
}
mark{
    background: #FFFFFF;
    color: #FF8000;
    font-weight: bold;
    font-size: 1.2em;
}

/*
 ~~~Header~~~
 */

nav{
    background: #293133;
    display: flex;
    flex-wrap: nowrap;

    text-align: center;
}
nav a{
    font-size: 1.7em;
    box-sizing: border-box;
    width: 25%;
}

#containerVisual{
    position: relative;

}
#informationVisual{
    display: inline-block;
    position: absolute;
    margin: 2.5em 3em;
    transform: rotate(-5deg);
}
h1{
    font-size: 3em;
}
#informationVisual p{
    margin-bottom: 0;
    font-size: 1.3em;
}
#containerVisual img{
    height: 400px;
    width: 100%;
    box-shadow: 0 5px 20px 5px #293133;
}

/*
 ~~~Main + footer~~~
 */

main{
    max-width: 1200px;
    margin: auto;
    background: white;
}
h2, h3{
    display: inline-block;
    margin: .5em auto;
    padding: .5em 1em;
    border-radius: 40px;

    background: #293133;
    font-size: 2.5em;
}
h3{
    margin: .2em auto;
    padding: .25em .5em;
    border-radius: 10px;

    font-size: 1.5em;
}
main p{
    margin: 1em;
    color: black;
    font-size: 1em;
}
main a:hover, footer a:hover{
    font-weight: normal;
    text-decoration: underline;
}
footer{
    margin: 0;
    padding: .2em;
    font-size: 1.5em;

    background: #293133;
}

/*
 ~~~Style spécifique~~~
 */

.encadrement{
    border-radius: 5px;
    padding: 5px;
    border: lightgray solid 1px;
    box-shadow: 0 5px 10px 1px #293133;
}
